<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheets' href='/stylesheets/style.css'/>
	</head>
	<body>
		<div style="text-align:center;">
			<h4>NAME: Manuel</h4>
			<h4>SURNAME: López-Ibarra</h4>
			<img src="/images/batman.jpg" widht="100" height="100"></img>
		</div>
	</body>
</html>