<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheets' href='/stylesheets/style.css'/>
	</head>
	<body>
		<h1>Bienvenidos a la página principal del portal <%= title %> .</h1>
		<p>Esperamos que todo sea de su agrado y se divierta.</p>
	</body>
</html>